<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Studio seven a Bootstarp  Website Template | Home :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css">@import url("css/style.css");</style>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/jquery.min.js"></script>
<link href="css/megamenu.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!---css-style-switecher----->
		<script type="text/javascript" src="js/jsapi"></script>
		<script>
		google.setOnLoadCallback(function()
			{
			    // Color changer
			    $(".colorblue").click(function(){
			        $("link").attr("href", "css/blue.css");
			        return false;
			    });
			    
			    $(".colorgreen").click(function(){
			        $("link").attr("href", "css/green.css");
			        return false;
			    });
			    
			    $(".coloryellow").click(function(){
			        $("link").attr("href", "css/yellow.css");
			        return false;
			    });
			
			});
		</script>
		<!---//End-css-style-switecher----->
</head>
<body>
<!-- header -->
	<div class="banner">
  	    <div class="container">
			<div class="header">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div>
				<div class="head-nav">
					<span class="menu"> </span>
						<ul class="megamenu">
							<li class="active"><a href="index.html">home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">services</a></li>
							<li><a href="#">portfolio</a>
					<ul class="dropdown">
					<li><a href="portfolio.html">portfolio </a></li>
					<li><a href="portfolio.html">portfolio </a></li>
					<li><a href="portfolio.html">portfolio </a></li>
						<ul class="dropdown">
							<li><a href="portfolio.html">portfolio </a></li>
							<li><a href="portfolio.html">portfolio </a></li>
							<li><a href="portfolio.html">portfolio </a></li>
								<ul class="dropdown">
									<li><a href="portfolio.html">portfolio </a></li>
									<li><a href="portfolio.html">portfolio </a></li>
									<li><a href="portfolio.html">portfolio </a></li>
								</ul>
							</li>
							
						</ul>
					</li>
					</ul>
				</li>
							<li><a href="blog.html">blog</a></li>
							<li><a href="404.html">features</a></li>
							<li><a href="contact.html">contacts</a></li>
								<div class="clearfix"> </div>
						</ul>
				</div>
						<div class="clearfix"> </div>
			</div>	
			<div class="banner-info">
				<h1>MEET STUDIO<span>SEVEN</span></h1>
				<p>Jerky tongue bresaola beef brisket bacon tail pork loin. </p>
				<label></label><br>
				<a class="get" href="#">get in tiouch</a>
			</div>			
		</div> 
	</div>
<!-- header -->
<!---start-color-changer----->
			 <div id="colorchanger">
                    <a class="colorbox colorblue" href="?theme=blue" title="Blue Theme"> </a>
                    <a class="colorbox colorgreen" href="?theme=green" title="Green Theme"> </a>
                    <a class="colorbox coloryellow" href="?theme=yellow" title="yellow Theme"> </a>
             </div>
	        <!---//End-color-changer----->
<!-- about -->
	<div class="about">
		<div class="container">
				<h2>about studio<span>seven</span></h2>
				<label></label>
			<div class="col-md-4 about-left">
				<h3>what we <span>can do</span></h3>
				<p>Kevin frankfurter ham hock andouille ribeye. Chuck kevin tail short ribs biltong, ribeye chicken spare ribs tenderloin sausage pig ball tip turducken capic. Kevin frankfurter ham hock andouille ribeye. Kevin frankfurter ham hock andouille ribeye. </p>
			</div>
			<div class="col-md-8 about-right">
				<div class="progress-head">
					<h6>bilton</h6>
					<p class="percent">95%</p>
						<div class="clearfix"></div>
					<div class="progressy1"><p></p></div>
				</div>
				<div class="progress-head1">
					<h6>frankfurter</h6>
					<p class="percent">75%</p>
						<div class="clearfix"></div>
					<div class="progressy2"><p></p></div>
				</div>
				<div class="progress-head2">
					<h6>ducken</h6>
					<p class="percent">75%</p>
						<div class="clearfix"></div>
					<div class="progressy3"><p></p></div>
				</div>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
<!-- about -->
<!-- work -->
	<div class="work">
		<div class="container">
				<h2>OUR RECENT<span> WORK</span></h2>
				<label></label>
			<div class="gallery">
				<div class="col-md-3 gallery1">
					<a href="#"><img src="images/img1.jpg" class="img-responsive" alt="" /></a>
					<i class="device"> </i>
					<label></label>
					<h6><a href="#">KEVIN FRANKFURTER</a></h6>
				</div>
				<div class="col-md-3 gallery1">
					<a href="#"><img src="images/img2.jpg" class="img-responsive" alt="" /></a>
					<i class="video"> </i>
					<label></label>
					<h6><a href="#">KEVIN FRANKFURTER</a></h6>
				</div>
				<div class="col-md-3 gallery1">
					<a href="#"><img src="images/img3.jpg" class="img-responsive" alt="" /></a>
					<i class="camera"> </i>
					<label></label>
					<h6><a href="#">KEVIN FRANKFURTER</a></h6>
				</div>
				<div class="col-md-3 gallery1">
					<a href="#"><img src="images/img4.jpg" class="img-responsive" alt="" /></a>
					<i class="pencil"> </i>
					<label></label>
						<h6><a href="#">KEVIN FRANKFURTER</a></h6>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- work -->
<!-- difference -->
	<div class="difference">
		<div class="container">
			<div class="col-md-7">
				<h3>THE STUDIO<span>SEVEN</span> DIFFERENCE</h3>
				<label></label>
				<p>Kevin frankfurter ham hock andouille ribeye. Chuck kevin tail short ribs biltong, ribeye chicken spare ribs tenderloin sausage pig ball tip turducken capicKevin frankfurter ham hock andouille ribeye. Chuck kevin tail short ribs biltong, ribeye chicken spare ribs tenderloin sausage pig ball tip turducken capicola. Ham frankfurter beef meatball. Tenderloin bacon pastrami porchetta kielbasa rump meatball tail.ola. Ham frankfurter bee.</p>
				<a class="contact" href="#">contact</a>
				<a class="more" href="#">learn more</a>
			</div>
			<div class="col-md-5 player">
				<iframe src="//player.vimeo.com/video/110030826" width="" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
<!-- difference -->
<!-- slider -->
	<section class="slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="testimonial">
						<div class="container">
							<div class="testimonial-info">
								<i class="drop"> </i>
								<p>"Spare ribs venison short loin meatloaf jowl fatback beef ribs. Brisket shankle ham ribeye capicola swine porchetta,  pork loin flank pork belly corned beef spare ribs bresaola tenderloin sausage biltong drumstick.”</p>
								<label></label>
								<h4>HENRY TUCKER-<span>Company Name</span></h4>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="testimonial">
						<div class="container">
							<div class="testimonial-info">
								<i class="drop"> </i>
								<p>"Spare ribs venison short loin meatloaf jowl fatback beef ribs. Brisket shankle ham ribeye capicola swine porchetta,  pork loin flank pork belly corned beef spare ribs bresaola tenderloin sausage biltong drumstick.”</p>
								<label></label>
								<h4>HENRY TUCKER-<span>Company Name</span></h4>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="testimonial">
						<div class="container">
							<div class="testimonial-info">
								<i class="drop"> </i>
								<p>"Spare ribs venison short loin meatloaf jowl fatback beef ribs. Brisket shankle ham ribeye capicola swine porchetta,  pork loin flank pork belly corned beef spare ribs bresaola tenderloin sausage biltong drumstick.”</p>
								<label></label>
								<h4>HENRY TUCKER-<span>Company Name</span></h4>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
						  <!-- FlexSlider -->
						  <script defer src="js/jquery.flexslider.js"></script>
						  <script type="text/javascript">
							$(function(){
							  SyntaxHighlighter.all();
							});
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});
						  </script>
						   <!-- FlexSlider -->
<!-- slider -->
<!-- subscribe -->
	<div class="subscribe">
		<div class="container">
				<h3>SUBSCRIBE TO OUR<span> NEWSLETTER</span></h3>
				<label></label>
			<div class="col-md-12 contact">
				<div class="col-md-3">
					<form>
						<input type="text" class="text" value="FIRST NAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'FIRST NAME';}">
					</form>
				</div>
				<div class="col-md-3">
					<form>
						<input type="text" class="text" value="LAST NAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'LAST NAME';}">
					</form>
				</div>
				<div class="col-md-4">
					<form>
						<input type="text" class="text" value="E-MAIL ADDRESS" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-MAIL ADDRESS ';}">
					</form>
				</div>
				<div class="col-md-2 button">
					<form>
						<input type="submit" value="SUBSCRIBE">
					</form>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- subscribe -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-6 footer1">
				<div class="col-md-8 studio">
					<h3>studio<span>seven</span></h3>
					<h6>location:<label>123 Nameof St., City, ST 123456</label></h6>
					<h6>phone:<label>128 9625 6895</label></h6>
					<h6>e-mail:<label>hm0@sur.versus</label></h6>
				</div>
				<div class="col-md-4 explore">
					<h5>explore</h5>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Forum</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Newsletter</a></li>
							<div class="clearfix"> </div>
					</ul>
				</div>
					<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 blog">
					<h3>from the <span>blog</span></h3>
				<div class="col-md-6 blog-left">
					<div class="icon">
						<img src="images/img6.jpg" alt="" />
					</div>
					<div class="data">
						<p>Tail jerky tenderloin turkey porchetta. Spare ribs venison short loin meatloaf jowl.</p>
						<h5><a href="#">CATEGORY NAME</a></h5>
						<h6>26 May, 2013</h6>
					</div>
						<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 blog-right4">
					<div class="icon">
						<img src="images/img5.jpg" alt="" />
					</div>
					<div class="data">
						<p>Tail jerky tenderloin turkey porchetta. Spare ribs venison short loin meatloaf jowl.</p>
						<h5><a href="#">CATEGORY NAME</a></h5>
						<h6>26 May, 2013</h6>
					</div>
						<div class="clearfix"> </div>
				</div>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
<!-- footer -->
	<div class="footer-bottom">
		<div class="container">
		<div class="col-md-6">
			<p>Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
		</div>
		<div class="col-md-6 social">
			<ul>
				<li><a href="#"><i class="fb"> </i></a></li>
				<li><a href="#"><i class="googl"> </i></a></li>
				<li><a href="#"><i class="twt"> </i></a></li>
				<li><a href="#"><i class="rss"> </i></a></li>
					<div class="clearfix"> </div>				
			</ul>
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</body>
</html>